#create-food-graph {
  margin: auto;
}

#food-graph:empty {
  display: none;
}

#food-graph {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

#nutrient-graphs {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

div:has(> canvas) {
  position: relative;
}

div:has(> #valor-energetico) {
  width: 75%;
  height: 25rem;
}
