body {
  font-family: "Roboto", sans-serif;
  background: #1a1a1a; /* Fundo escuro */
  color: #ffffff; /* Texto branco */
  line-height: 1.6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: 1rem; /* Base para rem */
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header {
  text-align: center;
  margin-bottom: 2rem;
}

h1 {
  font-size: 3.5rem;
  color: #ffffff;
  text-shadow: 0 0 0.3125rem #3cb043, 0 0 0.625rem #3cb043, 0 0 1.25rem #3cb043;
  animation: neonGlow 2s infinite;
}

@keyframes neonGlow {
  0%,
  100% {
    text-shadow: 0 0 0.3125rem #3cb043, 0 0 0.625rem #3cb043,
      0 0 1.25rem #3cb043;
  }
  50% {
    text-shadow: 0 0 0.9375rem #3cb043, 0 0 1.5625rem #3cb043,
      0 0 2.1875rem #3cb043;
  }
}

h2 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  color: #ffffff;
  border-left: 0.25rem solid #ffc107;
  padding-left: 0.625rem;
}

form {
  margin-top: 1.25rem;
  padding: 1.25rem;
  background: rgba(255, 255, 255, 0.1); /* Fundo translúcido */
  border-radius: 0.5rem;
  box-shadow: 0 0.125rem 0.625rem rgba(0, 0, 0, 0.1);
}

input,
select {
  width: 100%;
  padding: 0.625rem;
  border: none;
  border-radius: 0.3125rem;
  background: rgba(255, 255, 255, 0.1); /* Fundo translúcido */
  color: #ffffff;
}

input::placeholder {
  color: #808080;
}

button {
  padding: 0.625rem 0.9375rem;
  background: #3cb043; /* Verde vibrante */
  border: none;
  border-radius: 0.3125rem;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
  background-color: #00a000; /* Verde mais escuro */
  transform: scale(1.05);
}

@keyframes buttonPulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

table {
  width: 100%;
  margin-top: 1.25rem;
  border-collapse: collapse;
  background: rgba(255, 255, 255, 0.1); /* Fundo translúcido */
  border-radius: 0.5rem;
  overflow: hidden;
}

thead {
  background: #3cb043; /* Verde vibrante */
  color: white;
}

th,
td {
  padding: 0.9375rem;
  text-align: center;
}

tbody tr:nth-child(even) {
  background: rgba(255, 255, 255, 0.05); /* Fundo mais claro */
}

tbody tr:hover {
  background: rgba(255, 255, 255, 0.1);
}

.grafico-container {
  background: rgba(255, 255, 255, 0.05); /* Fundo translúcido */
  border-radius: 0.5rem;
  padding: 1.25rem;
  box-shadow: 0 0.25rem 0.9375rem rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap; /* Altere para nowrap */
}

.grafico {
  flex: 1;
  max-width: 48%;
  margin: 0 1%;
}

canvas {
  max-width: 37.5rem;
  margin: 0 auto;
  display: block;
}
